// Body
$body-bg: #e8e8e8;

// Typography
$font-family-sans-serif: "SourceSansPro-Regular", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

$bold: "SourceSansPro-Bold", sans-serif;
$s_bold: "SourceSansPro-SemiBold", sans-serif;

// Colors
$black: #444;
$grey: #95a2a3;
$light: #e9eefa;
$blue: #007ef6;
$indigo: #8755ff;
$purple: #4c4aa1;
$pink: #f66D9b;
$red: #ec2e68;
$orange: #ff5d2a;
$yellow: #fbbf58;;
$green: #00aa81;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark_blue: #576d78;
$color: #163955;

$main-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);