@font-face {
  font-family: 'TTNormsPro-Regular';
  src: local('TTNormsPro-Regular'), url('/fonts/TTNormsPro/TTNormsPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'TTNormsPro-Bold';
  src: local('TTNormsPro-Bold'), url('/fonts/TTNormsPro/TTNormsPro-Bold.otf') format('opentype');
}
