@font-face {
  font-family: 'SuisseIntl-Regular';
  src: local('SuisseIntl-Regular'), url('/fonts/SuisseIntl-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SuisseIntl-Medium';
  src: local('SuisseIntl-Medium'), url('/fonts/SuisseIntl-Medium.otf') format('opentype');
}
