// up here
@include media-breakpoint-up(sm) { // 576px
  .container {
    max-width: 570px;
  }

  .home {
    width: 452px;
  }

  #contact .contact-desc.light {
    width: 352px;
  }

  #about .desc {
    width: 530px;
  }

  #show .more {
    margin-left: 135px;
  }

  footer {
    .social-lists li + li {
      margin-left: 36px;
    }
  }
}

@include media-breakpoint-up(md) { // 768px
  .container {
    max-width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .til-sm-text-right {
    text-align: right;
  }

  .navbar {
    padding-top: 26px;
    padding-bottom: 26px;

    .nav-item {
      margin-left: 15px;
      margin-right: 15px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  #about .desc {
    margin-bottom: 50px;
  }

  #show {
    .galleries {
      margin-top: 60px;
    }

    .owner {
      margin-bottom: 42px;
    }

    .more {
      margin-left: 80px;
    }
  }

  footer {
    padding-top: 60px;
    padding-bottom: 60px;

    .copyright {
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(lg) { // 992px
  .container {
    max-width: 992px;
  }

  .navbar .nav-item {
    margin-left: 17px;
    margin-right: 17px;
  }

  main {
    padding-top: 46px;
    padding-bottom: 228px;
  }

  #home {
    h4 {
      margin-bottom: 68px;
    }
  }

  #show {
    .galleries {
      margin-top: 80px;
    }

    .owner {
      margin-bottom: 66px;
    }

    .more {
      margin-left: 135px;
    }
  }

  #about .img-wrapper {
    margin-bottom: 70px;
  }

  footer {
    padding-top: 86px;
    padding-bottom: 86px;

    .social-lists li + li {
      margin-left: 56px;
    }
  }

  .controls button + button {
    margin-left: 40px;
  }
}

@include media-breakpoint-up(xl) { // 1200px
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1460px) {
  .container {
    max-width: 1400px;
  }

  .project-item figure {
    height: 460px;
  }

  #about .img-wrapper {
    height: 680px;
  }

  #show .galleries {
    .img-wrapper-normal {
      height: 456px;
    }

    .img-wrapper-wide {
      height: 842px;
    }
  }
}

// only here
@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(sm) {
}

// down here
@include media-breakpoint-down(lg) { // 1199.98px
  footer {
    .first {
      margin-bottom: 32px;
    }

    .second {
      margin-bottom: 32px;

      br {
        display: none;
      }
    }

    //  here
  }
}

@include media-breakpoint-down(md) { // 991.98px
  .from-col {
    margin-top: 42px;
  }

  #about .img-wrapper {
    height: 520px;
  }

  #show .galleries {
    .img-wrapper-normal {
      height: 356px;
    }

    .img-wrapper-wide {
      height: 620px;
    }
  }
}

@include media-breakpoint-down(sm) { // 767.98px
  .bg-light {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }

  .navbar-expand-md > .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar .navbar-brand {
    font-size: 24px;
  }

  .navbar-nav {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  #about .img-wrapper {
    height: 420px;
  }

  #show .galleries {
    .img-wrapper-normal, .img-wrapper-wide {
      height: 356px;
    }
  }
}

@include media-breakpoint-down(xs) { // 575.98px
  .project-item figure {
    height: 320px;

    figcaption {
      .title {
        margin-bottom: 0;
        font-size: 30px;
      }

      .desc {
        font-size: 20px;
      }
    }
  }

  #contact .lists {
    font-size: 20px;
  }

  footer ul li {
    display: block;

    & + li {
      margin-top: 8px;
    }
  }

  #about .img-wrapper {
    height: 320px;
  }
}

@media (max-width: 385.98px) {
}